* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-height {
    height: 100%;
}
