<p class="m8 mat-headline-5">Home</p>
<p class="m8 mat-h3">Socket Connection: {{packageListener?.status?.connectionId ?? 'Not Connected'}}</p>
<p class="m8 mat-h3">Socket Status: {{packageListener?.status?.state}}</p>
<div *ngIf="packages?.length > 0"
     flexContainer
     flexAlign="start"
     flexCross="start">
    <package-card *ngFor="let package of packages"
                  [package]="package"></package-card>
    <div *ngFor="let package of packages"
         flexContainer
         flexDirection="column"
         flexAlign="start"
         flexCross="stretch"
         class="rounded border-primary p4 m8">
        <div flexContainer
             flexMain="space-between"
             flexCross="center">
            <p class="m4 mat-h4">{{package.title}}</p>
            <p class="m4 mat-h4">{{package.id}}</p>
        </div>
        <div flexContainer
             flexMain="space-between"
             flexCross="center">
            <p class="m4">State: {{package.state}}</p>
            <p class="m4">Result: {{package.result}}</p>
        </div>
        <p class="m4">{{package.value}}</p>
    </div>
</div>