<div class="full-height"
     flexContainer
     flexDirection="column">
    <p class="m8 mat-headline-5">Home</p>
    <p class="m8 mat-h3">Socket Connection: {{packageListener?.status?.connectionId ?? 'Not Connected'}}</p>
    <p class="m8 mat-h3">Socket Status: {{packageListener?.status?.state}}</p>
    <div flexContainer
         flexDirection="column"
         flexChild>
        <div flexContainer
             flexDirection="column"
             flexMain="start"
             flexCross="start"
             flexChild>
            <p class="m8 mat-h3">Pending Packages</p>
            <div *ngIf="packages?.length > 0"
                 flexContainer
                 flexMain="start"
                 flexCross="start">
                <package-card *ngFor="let package of packages"
                              [package]="package"
                              (approve)="approve($event)"
                              (return)="return($event)"
                              (reject)="reject($event)"></package-card>
            </div>
        </div>
        <div flexContanier
             flexDirection="column"
             flexMain="start"
             flexCross="start"
             flexChild>
            <p class="m8 mat-h3">Package Archive</p>
            <div *ngIf="archive?.length > 0"
                 flexContainer
                 flexMain="start"
                 flexCross="start">
                <package-card *ngFor="let package of archive"
                              [package]="package"
                              [showActions]="false"></package-card>
            </div>
        </div>
    </div>
</div>