<div flexContainer
     flexMain="start"
     flexCross="center">
    <button mat-icon-button
            color="primary"
            matTooltip="Create Proposal"
            (click)="create()">
        <mat-icon>add_circle_outline</mat-icon>
    </button>
    <p class="m8 mat-headline-5">Home</p>
</div>
<p class="m8 mat-h3">Socket Connection: {{proposalListener?.status?.connectionId ?? 'Not Connected'}}</p>
<p class="m8 mat-h3">Socket Status: {{proposalListener?.status?.state}}</p>
<div *ngIf="proposals?.length > 0"
     flexContainer
     flexAlign="start"
     flexCross="start">
    <proposal-card *ngFor="let proposal of proposals"
                   [proposal]="proposal"
                   (edit)="edit($event)"
                   (submit)="submit($event)"
                   (withdraw)="withdraw($event)"
                   (remove)="remove($event)"></proposal-card>
</div>