<div flexContainer
     flexDirection="column"
     flexMain="start"
     flexCross="stretch"
     [ngClass]="cardStyle"
     [style.width.px]="size">
    <action-card orientation="bottom"
                 cardStyle="rounded-top"
                 actionPadding="inherit"
                 [roundActions]="!showDetails">
        <proposal-display cardStyle="p4"
                          [proposal]="proposal"
                          [status]="status"></proposal-display>
        <ng-container *ngIf="showActions"
                      ngProjectAs="actions">
            <button mat-icon-button
                    color="warn"
                    matTooltip="Remove Proposal"
                    [matTooltipPosition]="tooltipLocation"
                    (click)="remove.emit(proposal)">
                <mat-icon>delete</mat-icon>
            </button>
            <button *ngIf="canSubmit()"
                    color="accent"
                    mat-icon-button
                    matTooltip="Submit Package"
                    [matTooltipPosition]="tooltipLocation"
                    (click)="submitPackage()">
                <mat-icon>start</mat-icon>
            </button>
            <button *ngIf="canWithdraw()"
                    color="warn"
                    mat-icon-button
                    matTooltip="Withdraw Package"
                    [matTooltipPosition]="tooltipLocation"
                    (click)="withdraw.emit(package)">
                <mat-icon>undo</mat-icon>
            </button>
            <button mat-icon-button
                    matTooltip="Edit Proposal"
                    [matTooltipPosition]="tooltipLocation"
                    (click)="edit.emit(proposal)">
                <mat-icon>edit</mat-icon>
            </button>
        </ng-container>
    </action-card>
    <ng-container *ngIf="showDetails">
        <ng-container *ngIf="package">
            <p class="m8 mat-h4">Active Package</p>
            <package-display [package]="package"></package-display>
        </ng-container>
        <ng-container *ngIf="packages?.length > 0">
            <p class="m8 mat-h4">Package History</p>
            <package-display *ngFor="let p of packages"
                             [package]="p"></package-display>
        </ng-container>
    </ng-container>
</div>